.advantages-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  margin: 0 0 4rem 0;
}

.advantages-imgBg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  background-image: url(../../assets/images/advantages--smaller.jpg);
  @mixin atSmall {
    background-image: url(../../assets/images/advantages--small.jpg);
  }
  @mixin atMedium {
    background-image: url(../../assets/images/advantages--medium.jpg);
  }
  /* @mixin atLarge {
      background-image: url(../../assets/images/advantages--large.jpg);
    } */
  @mixin atLarger {
    background-image: url(../../assets/images/advantages--large.jpg);
  }
  @mixin atLargest {
    background-image: url(../../assets/images/advantages--largest.jpg);
  }
  @mixin atSmallerRetina {
    background-image: url(../../assets/images/advantages--smaller-hi-dpi.jpg);
  }
  @mixin atSmallRetina {
    background-image: url(../../assets/images/advantages--small-hi-dpi.jpg);
  }
  @mixin atMediumRetina {
    background-image: url(../../assets/images/advantages--medium-hi-dpi.jpg);
  }
  /* @mixin atLargeRetina {
      background-image: url(../../assets/images/advantages--large-hi-dpi.jpg);
    } */
  @mixin atLargerRetina {
    background-image: url(../../assets/images/advantages--large-hi-dpi.jpg);
  }
  @mixin atLargestRetina {
    background-image: url(../../assets/images/advantages--largest-hi-dpi.jpg);
  }
}

.advantage {
  font-size: 2.25rem;
  font-family: Mistral;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 1.25;
  @mixin atSmallestPortrait {
    font-size: 2.85rem;
  }
  @mixin atSmallestLandscape {
    font-size: 2.5rem;
    max-width: 70rem;
    line-height: 1.2;
  }
  @mixin atSmallerPortrait {
    font-size: 3.25rem;
    max-width: 70rem;
    line-height: 1.5;
  }
  @mixin atSmallerLandscape {
    font-size: 3.5rem;
    max-width: 90rem;
  }
  @mixin atXSmallPortrait {
    font-size: 5rem;
    max-width: 90rem;
  }
  @mixin atMedium {
    font-size: 4.2rem;
  }
}

.advantage1 {
  align-self: flex-end;
  transform: rotate(-1deg);
  height: 10vh;
  width: 57vw;
  padding-top: 4rem;
  margin-right: 7.5rem;
  @mixin atSmallest {
    width: 90vw;
    margin-right: 0rem;
  }
  @mixin atSmallestLandscape {
    width: 55vw;
    margin-right: 10rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  @mixin atSmallerPortrait {
    width: 78vw;
    margin-right: 2rem;
  }
  @mixin atSmallPortrait {
    width: 86vw;
  }
  @mixin atMediumPortrait {
    margin-right: 10rem;
    padding-top: 4rem;
  }
  @mixin atMediumLandscape {
    margin-right: 45rem;
  }
  @mixin atLargerPortrait {
    width: 72vw;
    margin-right: 15rem;
  }
  @mixin atLargerPortrait {
    width: 53vw;
    margin-right: 30rem;
  }
}

.advantage2 {
  align-self: flex-end;
  height: 25vh;
  justify-content: flex-end;
  transform: rotate(-15deg);
  padding-top: 28.5rem;
  width: 35vw;
  @mixin atSmallest {
    transform: rotate(-10deg);
    padding-top: 0rem;
    width: 90vw;
  }
  @mixin atSmallestLandscape {
    height: 10vh;
    margin: 0rem 0 0 0rem;
    padding: 15rem 0 0 0;
    width: 50vw;
  }
  @mixin atSmallerPortrait {
    height: 10vh;
    margin: 5rem 0 0 7rem;
  }
  @mixin atSmallerLandscape {
    margin: 0rem 0 0 7rem;
  }
  @mixin atXSmallPortrait {
    margin: 0rem 0 0 7rem;
    width: 90vw;
  }
  @mixin atXSmallLandscape {
    padding: 35rem 0 0 0;
    width: 46vw;
  }
  @mixin atSmallPortrait {
    padding-top: 2rem;
  }
  @mixin atMediumPortrait {
    padding-top: 8rem;
  }
  @mixin atMediumLandscape {
    margin: 20rem 0 0 0;
    width: 37vw;
  }

  @mixin atLargerPortrait {
    padding-top: 35rem;
    width: 75vw;
  }
  @mixin atLargestPortrait {
    padding-top: 15rem;
    width: 55vw;
    margin: 0rem 0 0 2rem;
  }
}

.advantage3 {
  align-self: flex-start;
  height: 25vh;
  transform: rotate(10deg);
  width: 46vw;
  @mixin atSmallest {
    height: 15vh;
    width: 87vw;
  }
  @mixin atSmallestLandscape {
    margin: 0rem 0rem 0 -5rem;
    width: 56vw;
    padding-bottom: 5rem;
  }
  @mixin atSmallerPortrait {
    height: 25vh;
    margin: 27rem 0 0 7rem;
  }
  @mixin atSmallerLandscape {
    margin: 0rem 0 0 0rem;
    width: 47vw;
  }
  @mixin atXSmallPortrait {
    margin: 40rem 0 0 18rem;
    width: 87vw;
  }
  @mixin atSmallPortrait {
    margin: 40rem 0 0 18rem;
  }
  @mixin atMediumPortrait {
    margin: 40rem 0 0 7rem;
  }
  @mixin atLargerPortrait {
    margin: 70rem 0 0 10rem;
  }
  @mixin atLargestPortrait {
    margin: 70rem 0 0 20rem;
  }
}

.advantages-btn {
  /* margin: 35px 0px 75px 0px; */
  margin: 2rem 0px 0rem 0px;
}
