.advantages-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  line-height: 1.25;
  margin: 0 0 4rem 0;
}

.advantages-imgBg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
  background-image: url(../../assets/images/advantages--smaller.jpg);

    @mixin atSmallPortrait {
      background-image: url(../../assets/images/advantages--small.jpg);
    }
    @mixin atMediumPortrait {
      background-image: url(../../assets/images/advantages--medium.jpg);
    }
    /* @mixin atLargePortrait {
      background-image: url(../../assets/images/advantages--large.jpg);
    } */
    @mixin atLargerPortrait {
      background-image: url(../../assets/images/advantages--large.jpg);
    }
    @mixin atLargestPortrait {
      background-image: url(../../assets/images/advantages--largest.jpg);
    }

    @mixin atSmallerRetina {
      background-image: url(../../assets/images/advantages--smaller-hi-dpi.jpg);
    }

    @mixin atSmallRetina {
      background-image: url(../../assets/images/advantages--small-hi-dpi.jpg);
    }
    @mixin atMediumRetina {
      background-image: url(../../assets/images/advantages--medium-hi-dpi.jpg);
    }
    /* @mixin atLargeRetina {
      background-image: url(../../assets/images/advantages--large-hi-dpi.jpg);
    } */
    @mixin atLargerRetina {
      background-image: url(../../assets/images/advantages--large-hi-dpi.jpg);
    }
    @mixin atLargestRetina {
      background-image: url(../../assets/images/advantages--largest-hi-dpi.jpg);
    }

  }

.advantage {
  font-size: 2.25rem;
  font-family: Mistral;
  text-align: center;
  display: flex;
  align-items: center;
  @mixin atSmallest {
    font-size: 2.85rem;
  }
}

.advantage1 {
  align-self: flex-end;
  transform: rotate(-1deg);
  height: 10vh;
  width: 57vw;
  padding-top: 4rem;
  margin-right: 7.5rem;
  @mixin atSmallest {
    width: 90vw;
    margin-right: 0rem;
  }
}

.advantage2 {
  align-self: flex-end;
  height: 25vh;
  justify-content: flex-end;
  transform: rotate(-15deg);
  padding-top: 28.5rem;
  width: 35vw;
  @mixin atSmallest {
    transform: rotate(-10deg);
    padding-top: 0rem;
    width: 90vw;
  }
}

.advantage3 {
  align-self: flex-start;
  height: 25vh;
  transform: rotate(10deg);
  width: 46vw;
  @mixin atSmallest {
    height: 15vh;
    width: 86vw;
  }


}

.advantages-btn {
    /* margin: 35px 0px 75px 0px; */
    margin: 2rem 0px 0rem 0px;
}
