button {
width: 37.5rem;
height: 12.5rem;
border-radius: 1rem;
background-color: #655f69;
color: #fff;
font-size: 2.75rem;
border: none;
cursor: pointer;

@mixin atSmall {
  width: 45.5rem;
  border-radius: 0.6rem;
}

}


button:focus {
  outline: none;
}

button span {
  font-family: Mistral;
  display: inline-block;
  width: 100%;
  font-size: 3.75rem;
}
