button {
width: 37.5rem;
height: 12.5rem;
border-radius: 1rem;
background-color: #655f69;
color: #fff;
font-size: 2.75rem;
border: none;
cursor: pointer;
@mixin atSmallestLandscape {
  font-size: 2.5rem;
  width: 25.5rem;
  height: 8.5rem;
}
@mixin atSmallerPortrait {
  font-size: 3.25rem;
}
@mixin atXSmallPortrait {
  width: 42.5rem;
  height: 12.5rem;
  border-radius: 1rem;
  font-size: 3.75rem;
}

}

button:focus {
  outline: none;
}

button span {
  font-family: Mistral;
  display: inline-block;
  width: 100%;
  font-size: 3.75rem;
  @mixin atSmallestLandscape {
    font-size: 3rem;
  }
  @mixin atSmallerPortrait {
    font-size: 4.25rem;
  }
  @mixin atXSmallPortrait {
    font-size: 4.75rem;
  }
}
