button {
width: 37.5rem;
height: 12.5rem;
border-radius: 1rem;
background-color: #655f69;
color: #fff;
font-size: 2.75rem;
border: none;
cursor: pointer;
@mixin atSmallestLandscape {
  font-size: 1.5rem;
  width: 20.5rem;
  height: 10rem;
}
@mixin atSmaller {
  font-size: 3.25rem;
}
@mixin atXSmall {
  width: 42.5rem;
  height: 12.5rem;
  border-radius: 1rem;
  font-size: 3.75rem;
}

}

button:focus {
  outline: none;
}

button span {
  font-family: Mistral;
  display: inline-block;
  width: 100%;
  font-size: 3.75rem;
  @mixin atSmallestLandscape {
    font-size: 2.25rem;
  }
  @mixin atSmaller {
    font-size: 4.25rem;
  }
  @mixin atXSmall {
    font-size: 4.75rem;
  }
}
