*{
  outline:none;
}
form{
  float: left;
width: 100%;
margin: 2rem;
font-size: 3rem;
@mixin atSmallestPortrait {
  margin: 0rem;
}
@mixin atSmallestLandscape {
  font-size: 2.5rem;
}

}

form>div{
  float:left;
  width:50%;
  @mixin atSmallestPortrait {
    width:100%;
  }
  @mixin atXSmall {
    width:50%;
  }

}
form>div>input{
  border-radius: 10px;
  border:1px solid #c4c4c4;
  font-size: 0.8em;
  padding:10px 5%;
  margin-bottom:10px;
  background-color: #fff;
  width:76%;
  @mixin atSmallest {
    width:80%;
    font-size: 2.25rem;
  }
  @mixin atSmallestLandscape {
    font-size: 2rem;
    padding: 1.25rem 5%;
  }
  @mixin atSmaller {
    width:75%;
  }
}

form>div>input:focus,form textarea:focus{
  /*border-color:#adadad;*/
  border:2px solid #adadad;
}
form textarea{
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  font-size: 0.8em;
  padding: 10px;
  background-color: #fff;
  width: 85%;
  resize: vertical;
  max-height: 20rem;
  min-height: 18rem;

@mixin atSmallest {
  width: 80%;
  font-size: 2.25rem;
}
@mixin atSmallestLandscape {
  font-size: 2rem;
}
@mixin atSmaller {
  width: 75%;
}
}
form .btn__send{
  border-radius: 5px;
  padding: 1.75rem 4rem;
  border: 0;
  cursor: pointer;
  background-color: #d59541;
  color: #fff;
  margin: 2rem 0px;
  cursor:pointer;
  @mixin atSmallestLandscape {
    padding: 1.25rem 3rem;
  }
}

/* form .btn:hover{
  border-bottom-color:#1999d1;
} */
