* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 37.5%;       // 1rem = 10px, 10px/16px = 62.5%
  @mixin atSmaller{
    font-size: 43.75%;
  }
  @mixin atSmall{
    font-size: 50%;
  }
  @mixin atMedium {
    font-size: 56.25%;
  }
  @mixin atLarge {
    font-size: 62.5%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  flex-grow: 1;
  background-color: #fff;
  height: 95vh;
  overflow: hidden;
}

.imgBg-container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
}

.section-title {
  font-size: 7.5rem;
  font-family: Mistral;
  line-height: 1;
  z-index: 100;
  font-weight: 400;
}
