* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  @mixin atLarge {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.header {
  /* height: 5vh; */
  font-size: 2.6rem;
  height: 4rem;
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background: #fff;
  height: 100%;
}

.navitem {
  border: none;
  text-align: center;
  /* padding: 0px 100px; */
  /* &:hover {
    padding: 0px 8px;
    border-bottom: 4px solid #4b4351;
    transition: all .5s ease;
  } */
  &.is-current-link:after {
    width: 100%;
    background: #4b4351;
  }
}

.navitem:after {
  content: '';
  display: block;
  text-align: center;
  margin: 0 auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.navitem:hover:after {
  width: 100%;
  background: #4b4351;
}

/* .navitem:hover {
  border-bottom: 2px solid #4b4351;
}

.navitem:active {
  border-bottom: 2px solid #000;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  flex-grow: 1;
  background-color: #fff;
  /* border: 1px solid #000; */
  height: 95vh;
}

.imgBg-container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
  background-image: url(../../assets/images/large-hero--large.jpg);
}

button {
  width: 46.5rem;
  height: 12.5rem;
  border-radius: 1.2rem;
  margin: 35px 0px 75px 0px;
  background-color: #655f69;
  color: #fff;
  font-size: 3rem;
  border: none;
  cursor: pointer;
}

.btn--white {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

button:focus {
  outline: none;
}

button span {
  font-family: Mistral;
  display: inline-block;
  width: 100%;
  font-size: 4rem;
}

.home-container {
  top: 4rem;
  margin-bottom: 4rem;
  background-image: url(../../assets/images/large-hero--large.jpg);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.large-hero {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

h1 {
  font-size: 11rem;
  font-family: Mistral;
  font-weight: 500;
  margin: 0;
}

ul {
  width:40vw;
  list-style: none;
  font-size: 4rem;
  margin-left: 10rem;
  li:before {
     content: "\2764 \0020";
    /* content: "\2661 \0020"; */
    /* content: "\2665 \0020"; */
    /* content: "\10E6 \0020"; */
        margin: 0 4rem 0 -8rem;
  }
  li {
    margin:5rem 2rem;
  }
}

}

.advantages-imgBg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem;
}

.advantage {
  font-size: 4.5rem;
  font-family: Mistral;
  text-align: center;
  display: flex;
  align-items: center;
}

.advantage1 {
  align-self: flex-end;
  transform: rotate(-1deg);
  height: 10vh;
  width: 57vw;
  padding-top: 8rem;
  margin-right: 15rem;
}

.advantage2 {
  align-self: flex-end;
  height: 25vh;
  justify-content: flex-end;
  transform: rotate(-15deg);
  padding-top: 57rem;
  width: 45vw;
}

.advantage3 {
  align-self: flex-start;
  /* background: green; */
  height: 25vh;
  transform: rotate(10deg);
  width: 46vw;
}

.wrapper-container {
  background-image: url(../../assets/images/wrapper-main--large.jpg);
  display: flex;
  justify-content: flex-end;
}

.section-title {
  font-size: 15rem;
  font-family: Mistral;
  line-height: 1;
  z-index: 100;
  font-weight: 400;
}

.content-container {
  position: relative;
  background-color: #f7fbfa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-container .section-title {
  position: absolute;
  text-align: center;
  transform: translateY(-10%);
}

.content-img {
  margin: 3rem 3rem;
  height: auto;
  width: 23vw;
}

.wrapper-container .section-title {
  transform: rotate(-8deg);
  margin: 0rem 0rem -9rem -19rem;
}

.wrapper-imgBg-container {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
  height: 30vh;
  background-position: center center;
  position: relative;
}

.wrapper-types {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3rem;
  margin: 1rem;
}

.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 3rem;
}

.wrapper img {
  width: 40vh;
  height: 40vh;
}

.advantages-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.advantages-imgBg-container {
  background-image: url(../../assets/images/advantages--large.jpg);
}

.contacts-container {
  height: 15.2rem;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}

.contacts-container span {
  display: inline-block;
  width: 100%;
  font-size: 2.5rem;
  line-height: 1;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #f1f5f4;
  height: 12.2rem;
  margin: 25px 0;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
}

.corner {
  position: absolute;
  width: 45px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
}

.corner-top-left {
  top: 0px;
  left: 0;
  transform: translate(-55%, -55%);
}

.corner-top-right {
  top: 0;
  right: 0;
  transform: translate(55%, -55%);
}

.corner-bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-55%, 55%);
}

.corner-bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(55%, 55%);
}

.text-container span {
  font-size: 1.4rem;
}

.item {
  width: 100px;
  height: 100px;
  background: #e86afc;
  border: 2px solid #8c1f9e;
  font-size: 36px;
}

.footer {
  /* height: 5vh; */
  background-color: #655f69;
  color: #fff;
  margin: 0;
}
