* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  @mixin atLarge {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.header {
  /* height: 5vh; */
  font-size: 2rem;
  height: 4rem;
  position: fixed;
  z-index: 100;
  width: 100vw;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: #fff;
  height: 100%;
}

.navitem {
  padding: 0px 8px;
}

.navitem:hover {
  border-bottom: 2px solid #4b4351;
}

.navitem:active {
  border-bottom: 2px solid #000;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #000;
  height: 95vh;
}

.imgBg-container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
  background-image: url(../../assets/images/large-hero--large.jpg);
}

button {
  width: 465px;
  height: 100px;
  border-radius: 15px;
  margin: 30px 0px 65px 0px;
  background-color: #655f69;
  color: #fff;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button span {
  font-family: Mistral;
  display: inline-block;
  width: 100%;
  font-size: 3rem;
}

.home-container {
  top: 4rem;
  margin-bottom: 4rem;
  background-image: url(../../assets/images/large-hero--large.jpg);
}

.wrapper-container {
  background-image: url(../../assets/images/wrapper-main--large.jpg);
  display: flex;
  justify-content: flex-end;
}

.section-title {
  font-size: 12rem;
  font-family: Mistral;
  line-height: 1;
  z-index: 100;
  font-weight: 400;
}


.content-container {
  background-color: #f7fbfa;
}

.wrapper-container .section-title {
  transform: rotate(-8deg);
  margin: -1rem -15rem;
}

.wrapper-imgBg-container {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
  height: 30vh;
  background-position: center center;
  position: relative;
}

.wrapper-types {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3rem;
  margin: 1rem;
}

.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
}

.wrapper img {
  width: 40vh;
  height: 40vh;
}

.advantages-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.advantages-imgBg-container {
  background-image: url(../../assets/images/advantages--large.jpg);
}

.contacts-container {
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  font-size: 2rem;
}

.contacts-container span {
  display: inline-block;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #f1f5f4;
  height: 12.2rem;
  margin: 25px 0;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
}

.corner {
  position: absolute;
  width: 45px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
}

.corner-top-left {
  top: 0px;
  left: 0;
  transform: translate(-55%, -55%);
}

.corner-top-right {
  top: 0;
  right: 0;
  transform: translate(55%, -55%);
}

.corner-bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-55%, 55%);
}

.corner-bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(55%, 55%);
}

.text-container span {
  font-size: 1.4rem;
}

.item {
  width: 100px;
  height: 100px;
  background: #e86afc;
  border: 2px solid #8c1f9e;
  font-size: 36px;
}

.footer {
  /* height: 5vh; */
  background-color: #655f69;
  color: #fff;
  margin: 0;
}
