.modal {
  position: fixed;
  z-index: 300;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;
&--is-visible{
  opacity: 1;
  visibility: visible;
  transform: scale(1);

}
  &__inner{
    position: absolute;
    text-align: center;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @mixin atSmallestPortrait {
      width: 90%;
    }
    @mixin atSmaller {
      width: 75%;
    }
  }
  &__description {
    text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.65;
  margin: 3rem 0;
  }
  &__close {
    position: absolute;
    top: 2.25rem;
  right: 4rem;
  font-size: 4rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: #000;
    cursor:pointer;
    &:hover {
      color: $mainOrange;
      cursor:pointer;
    }
  }
}
