.toggleSidenav {
  display: block;
  position: fixed;
  z-index: 300;
  color:#000;
  font-size:30px;
  cursor:pointer;
  padding: 1rem 1.5rem;

  @mixin atMediumPortrait {
    display:none;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: rgba(63,56,68,0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10rem 0;

}

.sidenav a {
    padding: 3rem 5rem;
    text-decoration: none;
    font-size: 3rem;
    color: #f5f4f9;
    display: block;
    transition: 0.3s;
    text-align: left;
}

.sidenav .navitem:hover:after {
     background: transparent;
 }

.sidenav a:hover {
    color: #d7c8b3;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1.5rem;}
  .sidenav a {font-size: 1.8rem;}
}
