.wrapper-container {
  background-image: url(../../assets/images/wrapper-main--smaller.jpg);
  display: flex;
  justify-content: flex-end;

  @mixin atSmallPortrait {
    background-image: url(../../assets/images/wrapper-main--small.jpg);
  }
  @mixin atMediumPortrait {
    background-image: url(../../assets/images/wrapper-main--medium.jpg);
  }
  /* @mixin atLargePortrait {
    background-image: url(../../assets/images/wrapper-main--large.jpg);
  } */
  @mixin atLargerPortrait {
    background-image: url(../../assets/images/wrapper-main--large.jpg);
  }
  @mixin atLargestPortrait {
    background-image: url(../../assets/images/wrapper-main--largest.jpg);
  }

  @mixin atSmallerRetina {
    background-image: url(../../assets/images/wrapper-main--smaller-hi-dpi.jpg);
  }

  @mixin atSmallRetina {
    background-image: url(../../assets/images/wrapper-main--small-hi-dpi.jpg);
  }
  @mixin atMediumRetina {
    background-image: url(../../assets/images/wrapper-main--medium-hi-dpi.jpg);
  }
  /* @mixin atLargeRetina {
    background-image: url(../../assets/images/wrapper-main--large-hi-dpi.jpg);
  } */
  @mixin atLargerRetina {
    background-image: url(../../assets/images/wrapper-main--large-hi-dpi.jpg);
  }
  @mixin atLargestRetina {
    background-image: url(../../assets/images/wrapper-main--largest-hi-dpi.jpg);
  }

  @mixin atSmallest {
    align-items:center;
  }
  @mixin atXSmall {
    align-items:center;
  }
}

.wrapper-container .section-title {
  transform: rotate(-8deg);
  margin: 0rem 0rem -4.5rem -9.5rem;
  @mixin atXSmall {
    margin: 0rem 0rem -14.5rem -17.5rem;
  }
}

.wrapper-imgBg-container {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
  height: 30vh;
  background-position: center center;
  position: relative;
}

.wrapper-types {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1.5rem;
  margin: 0.5rem;
  @mixin atSmallest {
    height: 60vh;
  }
  @mixin atSmallestLandscape {
    height: 98vh;
  }
  @mixin atXSmall {
    height: 98vh;
  }
}

.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  font-size: 1.5rem;
  @mixin atSmallest {
    font-size: 1.75rem;
  }
  @mixin atXSmall {
    font-size: 2.75rem;
    bottom: 2rem;
    left: 2rem;
  }
}

.wrapper img {
  width: 40vh;
  height: 40vh;
  @mixin atSmallest {
    width: 25vh;
    height: 25vh;
  }
  @mixin atSmallestLandscape {
    width: 40vh;
    height: 40vh;
  }
  @mixin atXSmall {
    width: 40vh;
    height: 40vh;
  }
}
